.container {
  padding: var(--size-5);
}


.course {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);


  &__section {
    margin-bottom: var(--size-3);
  }

  &__name {
    font-size: var(--size-4);
  }

  &__tags {
    margin-top: var(--size-3);

    label {
      display: flex;
      align-items: center;
      gap: var(--size-3);
    }

    input {
      background-color: var(--gray-7);

      &:disabled {
        cursor: not-allowed;
      }
    }

    input::-webkit-calendar-picker-indicator {
      opacity: 0;
    }

    #chips {
      display: flex;
      flex-direction: row;
      margin-bottom: var(--size-3);
    }

    .chip {
      padding: var(--size-2);
      display: flex;
      align-items: center;
      gap: var(--size-2);


      &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 25px;

        cursor: pointer;
      }

      &:hover {
        background-color: var(--gray-8);
        border-radius: var(--radius-2);
      }

      svg {
        fill: var(--gray-0);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .save-icon {
      fill: var(--gray-0);
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    font-size: var(--size-3);
    font-weight: var(--font-weight-3);
    flex-wrap: wrap;
    gap: var(--size-5);

    &__duration {
      display: flex;
      align-items: center;

      gap: var(--size-1);
    }

    &__watchInfo {
      display: flex;
      gap: var(--size-4);
    }

    &__progress {
      display: flex;
      align-items: center;
      gap: var(--size-3);
    }


  }
}

label {
  font-size: var(--size-3);
  display: block;
}


input[type="text"] {
  background-color: var(--gray-7);
}


.filters {
  margin-bottom: var(--size-4);;
  margin-top: var(--size-4);;
}

