.container {
  padding: var(--size-5);
}


.course {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  margin-top: var(--size-6);


  &__section {
    margin-bottom: var(--size-3);
  }

  &__name {
    font-size: var(--size-4);
  }

  &__meta {
    display: flex;
    align-items: center;
    font-size: var(--size-3);
    font-weight: var(--font-weight-3);
    flex-wrap: wrap;
    gap: var(--size-5);

    &__duration {
      display: flex;
      align-items: center;

      gap: var(--size-1);
    }

    &__watchInfo {
      display: flex;
      gap: var(--size-4);
    }

    &__progress {
      display: flex;
      align-items: center;
      gap: var(--size-3);
    }
  }
}

label {
  font-size: var(--size-3);
  display: block;
}


input[type="text"] {
  background-color: var(--gray-7);
}


.filters {
  margin-bottom: var(--size-4);;
  margin-top: var(--size-4);

  display: flex;
  gap: var(--size-6);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}


