/* You can add global styles to this file, and also import other style files */
@import "open-props/open-props.min.css";

/* optional imports that use the props */
@import "open-props/normalize.min.css";
@import "open-props/buttons.min.css";
/* individual imports */
@import "open-props/indigo.min.css";
@import "open-props/easings.min.css";
@import "open-props/animations.min.css";
@import "open-props/sizes.min.css";
//@import "open-props/gradients.min.css";


:root {
  font-family: 'Inter', sans-serif;
  --size-2_point_5: 0.75rem;
}

.clock-icon {
  fill: var(--gray-4);
}

.hd-icon {
  fill: var(--red-7);
}

.breadcrumb {
  display: flex;
  gap: var(--size-1);

  &__entry {
    opacity: 0.6;
    display: flex;
    gap: var(--size-1);

    &__name {
      display: inline-block;
      max-width: var(--size-fluid-8);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__entry-active {
    opacity: 1;
    font-weight: var(--font-weight-5);
  }
}
