.course__entries {


  &__entry {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    border-radius: var(--radius-1);


    svg {
      cursor: pointer;
    }

    padding: var(--size-3);
    padding-right: var(--size-6);
    background-color: var(--surface-3);
    margin-bottom: var(--size-1);


    &__second_row {
      display: flex;
      align-items: baseline;
      font-size: var(--size-2_point_5);
      gap: var(--size-1);

      &__watched {
        flex: 1;
      }

      &__info {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 30px 50px;
        align-items: center;
        gap: var(--size-6);


        &__duration {
          display: flex;
          gap: var(--size-2);

          align-items: center;
          font-size: var(--size-2_point_5);

          & > * {
            flex-shrink: 0;
          }
        }
      }
    }

    & div:first-child {
      display: flex;
      align-items: center;
      gap: var(--size-2);

      //&:first-child {
      //  flex-shrink: 0;
      //}
    }

    &__name {
      font-size: var(--size-3);
    }

    &__watched {
      opacity: 0.6;
    }
  }
}





.notes-icon.hasNotes {
  fill: var(--green-4);
  opacity: 1;
  z-index: 1;
}
